.defaultBadge {
    width: max-content;
    padding: 2px 16px;
    border-radius: 16px;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
}

.blueBadge {
    background-color: dodgerblue;
    color: rgb(8, 54, 100);
}

.greenBadge {
    background-color: rgb(65, 255, 128);
    color: rgb(8, 95, 37);
}

.orangeBadge {
    background-color: rgb(255, 184, 53);
    color: rgb(119, 80, 9);
}

.redBadge {
    background-color: rgb(245, 86, 65);
    color: rgb(88, 15, 6);
}